html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

template,[hidden] {
    display: none
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: inherit
}

b,strong {
    font-weight: 600
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,input,select,textarea {
    font: inherit
}

optgroup {
    font-weight: bold
}

button,input,select {
    overflow: visible
}

button,input,select,textarea {
    margin: 0
}

button,select {
    text-transform: none
}

button,[type="button"],[type="reset"],[type="submit"] {
    cursor: pointer
}

[disabled] {
    cursor: default
}

button,html [type="button"],[type="reset"],[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

button:-moz-focusring,input:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type="checkbox"],[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield
}

[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    outline: none;
    box-sizing: border-box
}

*:before,*:after {
    box-sizing: border-box
}

body {
    background: #141414;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 21px
}

h1,h2,h3,h4,h5,h6,.the-subtitle {
    line-height: 1.4;
    font-weight: 600
}

h1 {
    font-size: 41px;
    font-weight: 700
}

h2 {
    font-size: 27px
}

h3 {
    font-size: 23px
}

h4,.the-subtitle {
    font-size: 17px
}

h5 {
    font-size: 13px
}

h6 {
    font-size: 12px
}

a {
    
    text-decoration: none;
    transition: 0.15s
}




img,object,embed {
    max-width: 100%;
    height: auto
}

iframe {
    max-width: 100%
}

p {
    line-height: 21px
}

.says,.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.stream-title {
    margin-bottom: 3px;
    font-size: 85%;
    color: #a5a5a5;
    display: block
}

.stream-item {
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 20px 0;
    padding: 0
}

.stream-item iframe {
    margin: 0 auto
}

.stream-item img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle
}

.stream-item.stream-item-above-header {
    margin: 0
}

.stream-item.stream-item-between .post-item-inner {
    width: 100%;
    display: block
}

.post-layout-8.is-header-layout-1.has-header-ad .entry-header-outer,body.post-layout-8.has-header-below-ad .entry-header-outer {
    padding-top: 0
}

.stream-item-top-wrapper ~ .stream-item-below-header,.is-header-layout-1.has-header-ad.post-layout-6 .featured-area,.has-header-below-ad.post-layout-6 .featured-area {
    margin-top: 0
}

.has-header-below-ad .fullwidth-entry-title.container-wrapper,.is-header-layout-1.has-header-ad .fullwidth-entry-title,.is-header-layout-1.has-header-ad .is-first-section,.has-header-below-ad .is-first-section {
    padding-top: 0;
    margin-top: 0
}

@media (max-width: 991px) {
    body:not(.is-header-layout-1).has-header-below-ad.has-header-ad .top-nav-below .has-breaking-news {
        margin-bottom:20px
    }

    .has-header-ad .fullwidth-entry-title.container-wrapper,.has-header-ad.has-header-below-ad .stream-item-below-header,.single.has-header-ad:not(.has-header-below-ad) #content,.page.has-header-ad:not(.has-header-below-ad) #content {
        margin-top: 0
    }

    .has-header-ad .is-first-section {
        padding-top: 0
    }

    .has-header-ad:not(.has-header-below-ad) .buddypress-header-outer {
        margin-bottom: 15px
    }
}

.has-full-width-logo .stream-item-top-wrapper,.header-layout-2 .stream-item-top-wrapper {
    width: 100%;
    max-width: 100%;
    float: none;
    clear: both
}

@media (min-width: 992px) {
    .header-layout-2.has-normal-width-logo .stream-item-top-wrapper {
        margin-top:0
    }
}

.header-layout-3.no-stream-item .logo-container {
    width: 100%;
    float: none
}

@media (min-width: 992px) {
    .header-layout-3.has-normal-width-logo .stream-item-top img {
        float:right
    }
}

@media (max-width: 991px) {
    .header-layout-3.has-normal-width-logo .stream-item-top {
        clear:both
    }
}

#background-ad-cover {
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed
}

@media (max-width: 768px) {
    .hide_banner_header .stream-item-above-header,.hide_banner_top .stream-item-top-wrapper,.hide_banner_below_header .stream-item-below-header,.hide_banner_bottom .stream-item-above-footer,.hide_banner_above .stream-item-above-post,.hide_banner_above_content .stream-item-above-post-content,.hide_banner_below_content .stream-item-below-post-content,.hide_banner_below .stream-item-below-post,.hide_banner_comments .stream-item-below-post-comments,.hide_breaking_news #top-nav,.hide_sidebars .sidebar,.hide_footer #footer-widgets-container,.hide_copyright #site-info,.hide_breadcrumbs #breadcrumb,.hide_share_post_top .share-buttons-top,.hide_share_post_bottom .share-buttons-bottom,.hide_post_newsletter #post-newsletter,.hide_related #related-posts,.hide_read_next #read-next-block,.hide_post_authorbio .post-components .about-author,.hide_post_nav .prev-next-post-nav,.hide_back_top_button #go-to-top,.hide_read_more_buttons .more-link,.hide_inline_related_posts #inline-related-post {
        display:none !important
    }
}

.tie-icon:before,[class^="tie-icon-"],[class*=" tie-icon-"] {
    font-family: 'tiefonticon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block
}

body.tie-no-js a.remove,body.tie-no-js .tooltip,body.tie-no-js .woocommerce-message,body.tie-no-js .woocommerce-error,body.tie-no-js .woocommerce-info,body.tie-no-js .bbp-template-notice,body.tie-no-js .indicator-hint,body.tie-no-js .menu-counter-bubble-outer,body.tie-no-js .notifications-total-outer,body.tie-no-js .comp-sub-menu,body.tie-no-js .menu-sub-content {
    display: none !important
}

body.tie-no-js .fa,body.tie-no-js .fas,body.tie-no-js .far,body.tie-no-js .fab,body.tie-no-js .tie-icon:before,body.tie-no-js [class^="tie-icon-"],body.tie-no-js [class*=" tie-icon-"],body.tie-no-js .weather-icon {
    visibility: hidden !important
}

body.tie-no-js [class^="tie-icon-"]:before,body.tie-no-js [class*=" tie-icon-"]:before {
    content: "\f105"
}

.tie-popup,#autocomplete-suggestions {
    display: none
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:after {
    content: "";
    display: table;
    clear: both
}

@media (min-width: 768px) {
    .container {
        width:100%
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1200px
    }
}



