#lajmi1{
    margin-left: 5%;
}
#lajmi2{
    margin-top: -40%;
    margin-left: 50%;
}
#lajmi3{
  
    margin-left: 49.9%;
    margin-top: -20.5%;
}

#lajmi4{
    margin-top: -40%;
    margin-left: 72%;
}
#lajmi5{
    margin-left: 72%;
    margin-top: -20.5%;
}

